@font-face {
  font-family: "icon-love";
  src: url("../public/fonts/icon-love.eot?8up49u");
  src: url("../public/fonts/icon-love.eot?8up49u#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icon-love.ttf?8up49u") format("truetype"),
    url("../public/fonts/icon-love.woff?8up49u") format("woff"),
    url("../public/fonts/icon-love.svg?8up49u#icon-love") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-love-"],
[class*="icon-love-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-love" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-love-home:before {
  content: "\e900";
}
.icon-love-home2:before {
  content: "\e901";
}
.icon-love-home3:before {
  content: "\e902";
}
.icon-love-office:before {
  content: "\e903";
}
.icon-love-newspaper:before {
  content: "\e904";
}
.icon-love-pencil:before {
  content: "\e905";
}
.icon-love-pencil2:before {
  content: "\e906";
}
.icon-love-quill:before {
  content: "\e907";
}
.icon-love-pen:before {
  content: "\e908";
}
.icon-love-blog:before {
  content: "\e909";
}
.icon-love-eyedropper:before {
  content: "\e90a";
}
.icon-love-droplet:before {
  content: "\e90b";
}
.icon-love-paint-format:before {
  content: "\e90c";
}
.icon-love-image:before {
  content: "\e90d";
}
.icon-love-images:before {
  content: "\e90e";
}
.icon-love-camera:before {
  content: "\e90f";
}
.icon-love-headphones:before {
  content: "\e910";
}
.icon-love-music:before {
  content: "\e911";
}
.icon-love-play:before {
  content: "\e912";
}
.icon-love-film:before {
  content: "\e913";
}
.icon-love-video-camera:before {
  content: "\e914";
}
.icon-love-dice:before {
  content: "\e915";
}
.icon-love-pacman:before {
  content: "\e916";
}
.icon-love-spades:before {
  content: "\e917";
}
.icon-love-clubs:before {
  content: "\e918";
}
.icon-love-diamonds:before {
  content: "\e919";
}
.icon-love-bullhorn:before {
  content: "\e91a";
}
.icon-love-connection:before {
  content: "\e91b";
}
.icon-love-podcast:before {
  content: "\e91c";
}
.icon-love-feed:before {
  content: "\e91d";
}
.icon-love-mic:before {
  content: "\e91e";
}
.icon-love-book:before {
  content: "\e91f";
}
.icon-love-books:before {
  content: "\e920";
}
.icon-love-library:before {
  content: "\e921";
}
.icon-love-file-text:before {
  content: "\e922";
}
.icon-love-profile:before {
  content: "\e923";
}
.icon-love-file-empty:before {
  content: "\e924";
}
.icon-love-files-empty:before {
  content: "\e925";
}
.icon-love-file-text2:before {
  content: "\e926";
}
.icon-love-file-picture:before {
  content: "\e927";
}
.icon-love-file-music:before {
  content: "\e928";
}
.icon-love-file-play:before {
  content: "\e929";
}
.icon-love-file-video:before {
  content: "\e92a";
}
.icon-love-file-zip:before {
  content: "\e92b";
}
.icon-love-copy:before {
  content: "\e92c";
}
.icon-love-paste:before {
  content: "\e92d";
}
.icon-love-stack:before {
  content: "\e92e";
}
.icon-love-folder:before {
  content: "\e92f";
}
.icon-love-folder-open:before {
  content: "\e930";
}
.icon-love-folder-plus:before {
  content: "\e931";
}
.icon-love-folder-minus:before {
  content: "\e932";
}
.icon-love-folder-download:before {
  content: "\e933";
}
.icon-love-folder-upload:before {
  content: "\e934";
}
.icon-love-price-tag:before {
  content: "\e935";
}
.icon-love-price-tags:before {
  content: "\e936";
}
.icon-love-barcode:before {
  content: "\e937";
}
.icon-love-qrcode:before {
  content: "\e938";
}
.icon-love-ticket:before {
  content: "\e939";
}
.icon-love-cart:before {
  content: "\e93a";
}
.icon-love-coin-dollar:before {
  content: "\e93b";
}
.icon-love-coin-euro:before {
  content: "\e93c";
}
.icon-love-coin-pound:before {
  content: "\e93d";
}
.icon-love-coin-yen:before {
  content: "\e93e";
}
.icon-love-credit-card:before {
  content: "\e93f";
}
.icon-love-calculator:before {
  content: "\e940";
}
.icon-love-lifebuoy:before {
  content: "\e941";
}
.icon-love-phone:before {
  content: "\e942";
}
.icon-love-phone-hang-up:before {
  content: "\e943";
}
.icon-love-address-book:before {
  content: "\e944";
}
.icon-love-envelop:before {
  content: "\e945";
}
.icon-love-pushpin:before {
  content: "\e946";
}
.icon-love-location:before {
  content: "\e947";
}
.icon-love-location2:before {
  content: "\e948";
}
.icon-love-compass:before {
  content: "\e949";
}
.icon-love-compass2:before {
  content: "\e94a";
}
.icon-love-map:before {
  content: "\e94b";
}
.icon-love-map2:before {
  content: "\e94c";
}
.icon-love-history:before {
  content: "\e94d";
}
.icon-love-clock:before {
  content: "\e94e";
}
.icon-love-clock2:before {
  content: "\e94f";
}
.icon-love-alarm:before {
  content: "\e950";
}
.icon-love-bell:before {
  content: "\e951";
}
.icon-love-stopwatch:before {
  content: "\e952";
}
.icon-love-calendar:before {
  content: "\e953";
}
.icon-love-printer:before {
  content: "\e954";
}
.icon-love-keyboard:before {
  content: "\e955";
}
.icon-love-display:before {
  content: "\e956";
}
.icon-love-laptop:before {
  content: "\e957";
}
.icon-love-mobile:before {
  content: "\e958";
}
.icon-love-mobile2:before {
  content: "\e959";
}
.icon-love-tablet:before {
  content: "\e95a";
}
.icon-love-tv:before {
  content: "\e95b";
}
.icon-love-drawer:before {
  content: "\e95c";
}
.icon-love-drawer2:before {
  content: "\e95d";
}
.icon-love-box-add:before {
  content: "\e95e";
}
.icon-love-box-remove:before {
  content: "\e95f";
}
.icon-love-download:before {
  content: "\e960";
}
.icon-love-upload:before {
  content: "\e961";
}
.icon-love-floppy-disk:before {
  content: "\e962";
}
.icon-love-drive:before {
  content: "\e963";
}
.icon-love-database:before {
  content: "\e964";
}
.icon-love-undo:before {
  content: "\e965";
}
.icon-love-redo:before {
  content: "\e966";
}
.icon-love-undo2:before {
  content: "\e967";
}
.icon-love-redo2:before {
  content: "\e968";
}
.icon-love-forward:before {
  content: "\e969";
}
.icon-love-reply:before {
  content: "\e96a";
}
.icon-love-bubble:before {
  content: "\e96b";
}
.icon-love-bubbles:before {
  content: "\e96c";
}
.icon-love-bubbles2:before {
  content: "\e96d";
}
.icon-love-bubble2:before {
  content: "\e96e";
}
.icon-love-bubbles3:before {
  content: "\e96f";
}
.icon-love-bubbles4:before {
  content: "\e970";
}
.icon-love-user:before {
  content: "\e971";
}
.icon-love-users:before {
  content: "\e972";
}
.icon-love-user-plus:before {
  content: "\e973";
}
.icon-love-user-minus:before {
  content: "\e974";
}
.icon-love-user-check:before {
  content: "\e975";
}
.icon-love-user-tie:before {
  content: "\e976";
}
.icon-love-quotes-left:before {
  content: "\e977";
}
.icon-love-quotes-right:before {
  content: "\e978";
}
.icon-love-hour-glass:before {
  content: "\e979";
}
.icon-love-spinner:before {
  content: "\e97a";
}
.icon-love-spinner2:before {
  content: "\e97b";
}
.icon-love-spinner3:before {
  content: "\e97c";
}
.icon-love-spinner4:before {
  content: "\e97d";
}
.icon-love-spinner5:before {
  content: "\e97e";
}
.icon-love-spinner6:before {
  content: "\e97f";
}
.icon-love-spinner7:before {
  content: "\e980";
}
.icon-love-spinner8:before {
  content: "\e981";
}
.icon-love-spinner9:before {
  content: "\e982";
}
.icon-love-spinner10:before {
  content: "\e983";
}
.icon-love-spinner11:before {
  content: "\e984";
}
.icon-love-binoculars:before {
  content: "\e985";
}
.icon-love-search:before {
  content: "\e986";
}
.icon-love-zoom-in:before {
  content: "\e987";
}
.icon-love-zoom-out:before {
  content: "\e988";
}
.icon-love-enlarge:before {
  content: "\e989";
}
.icon-love-shrink:before {
  content: "\e98a";
}
.icon-love-enlarge2:before {
  content: "\e98b";
}
.icon-love-shrink2:before {
  content: "\e98c";
}
.icon-love-key:before {
  content: "\e98d";
}
.icon-love-key2:before {
  content: "\e98e";
}
.icon-love-lock:before {
  content: "\e98f";
}
.icon-love-unlocked:before {
  content: "\e990";
}
.icon-love-wrench:before {
  content: "\e991";
}
.icon-love-equalizer:before {
  content: "\e992";
}
.icon-love-equalizer2:before {
  content: "\e993";
}
.icon-love-cog:before {
  content: "\e994";
}
.icon-love-cogs:before {
  content: "\e995";
}
.icon-love-hammer:before {
  content: "\e996";
}
.icon-love-magic-wand:before {
  content: "\e997";
}
.icon-love-aid-kit:before {
  content: "\e998";
}
.icon-love-bug:before {
  content: "\e999";
}
.icon-love-pie-chart:before {
  content: "\e99a";
}
.icon-love-stats-dots:before {
  content: "\e99b";
}
.icon-love-stats-bars:before {
  content: "\e99c";
}
.icon-love-stats-bars2:before {
  content: "\e99d";
}
.icon-love-trophy:before {
  content: "\e99e";
}
.icon-love-gift:before {
  content: "\e99f";
}
.icon-love-glass:before {
  content: "\e9a0";
}
.icon-love-glass2:before {
  content: "\e9a1";
}
.icon-love-mug:before {
  content: "\e9a2";
}
.icon-love-spoon-knife:before {
  content: "\e9a3";
}
.icon-love-leaf:before {
  content: "\e9a4";
}
.icon-love-rocket:before {
  content: "\e9a5";
}
.icon-love-meter:before {
  content: "\e9a6";
}
.icon-love-meter2:before {
  content: "\e9a7";
}
.icon-love-hammer2:before {
  content: "\e9a8";
}
.icon-love-fire:before {
  content: "\e9a9";
}
.icon-love-lab:before {
  content: "\e9aa";
}
.icon-love-magnet:before {
  content: "\e9ab";
}
.icon-love-bin:before {
  content: "\e9ac";
}
.icon-love-bin2:before {
  content: "\e9ad";
}
.icon-love-briefcase:before {
  content: "\e9ae";
}
.icon-love-airplane:before {
  content: "\e9af";
}
.icon-love-truck:before {
  content: "\e9b0";
}
.icon-love-road:before {
  content: "\e9b1";
}
.icon-love-accessibility:before {
  content: "\e9b2";
}
.icon-love-target:before {
  content: "\e9b3";
}
.icon-love-shield:before {
  content: "\e9b4";
}
.icon-love-power:before {
  content: "\e9b5";
}
.icon-love-switch:before {
  content: "\e9b6";
}
.icon-love-power-cord:before {
  content: "\e9b7";
}
.icon-love-clipboard:before {
  content: "\e9b8";
}
.icon-love-list-numbered:before {
  content: "\e9b9";
}
.icon-love-list:before {
  content: "\e9ba";
}
.icon-love-list2:before {
  content: "\e9bb";
}
.icon-love-tree:before {
  content: "\e9bc";
}
.icon-love-menu:before {
  content: "\e9bd";
}
.icon-love-menu2:before {
  content: "\e9be";
}
.icon-love-menu3:before {
  content: "\e9bf";
}
.icon-love-menu4:before {
  content: "\e9c0";
}
.icon-love-cloud:before {
  content: "\e9c1";
}
.icon-love-cloud-download:before {
  content: "\e9c2";
}
.icon-love-cloud-upload:before {
  content: "\e9c3";
}
.icon-love-cloud-check:before {
  content: "\e9c4";
}
.icon-love-download2:before {
  content: "\e9c5";
}
.icon-love-upload2:before {
  content: "\e9c6";
}
.icon-love-download3:before {
  content: "\e9c7";
}
.icon-love-upload3:before {
  content: "\e9c8";
}
.icon-love-sphere:before {
  content: "\e9c9";
}
.icon-love-earth:before {
  content: "\e9ca";
}
.icon-love-link:before {
  content: "\e9cb";
}
.icon-love-flag:before {
  content: "\e9cc";
}
.icon-love-attachment:before {
  content: "\e9cd";
}
.icon-love-eye:before {
  content: "\e9ce";
}
.icon-love-eye-plus:before {
  content: "\e9cf";
}
.icon-love-eye-minus:before {
  content: "\e9d0";
}
.icon-love-eye-blocked:before {
  content: "\e9d1";
}
.icon-love-bookmark:before {
  content: "\e9d2";
}
.icon-love-bookmarks:before {
  content: "\e9d3";
}
.icon-love-sun:before {
  content: "\e9d4";
}
.icon-love-contrast:before {
  content: "\e9d5";
}
.icon-love-brightness-contrast:before {
  content: "\e9d6";
}
.icon-love-star-empty:before {
  content: "\e9d7";
}
.icon-love-star-half:before {
  content: "\e9d8";
}
.icon-love-star-full:before {
  content: "\e9d9";
}
.icon-love-heart:before {
  content: "\e9da";
}
.icon-love-heart-broken:before {
  content: "\e9db";
}
.icon-love-man:before {
  content: "\e9dc";
}
.icon-love-woman:before {
  content: "\e9dd";
}
.icon-love-man-woman:before {
  content: "\e9de";
}
.icon-love-happy:before {
  content: "\e9df";
}
.icon-love-happy2:before {
  content: "\e9e0";
}
.icon-love-smile:before {
  content: "\e9e1";
}
.icon-love-smile2:before {
  content: "\e9e2";
}
.icon-love-tongue:before {
  content: "\e9e3";
}
.icon-love-tongue2:before {
  content: "\e9e4";
}
.icon-love-sad:before {
  content: "\e9e5";
}
.icon-love-sad2:before {
  content: "\e9e6";
}
.icon-love-wink:before {
  content: "\e9e7";
}
.icon-love-wink2:before {
  content: "\e9e8";
}
.icon-love-grin:before {
  content: "\e9e9";
}
.icon-love-grin2:before {
  content: "\e9ea";
}
.icon-love-cool:before {
  content: "\e9eb";
}
.icon-love-cool2:before {
  content: "\e9ec";
}
.icon-love-angry:before {
  content: "\e9ed";
}
.icon-love-angry2:before {
  content: "\e9ee";
}
.icon-love-evil:before {
  content: "\e9ef";
}
.icon-love-evil2:before {
  content: "\e9f0";
}
.icon-love-shocked:before {
  content: "\e9f1";
}
.icon-love-shocked2:before {
  content: "\e9f2";
}
.icon-love-baffled:before {
  content: "\e9f3";
}
.icon-love-baffled2:before {
  content: "\e9f4";
}
.icon-love-confused:before {
  content: "\e9f5";
}
.icon-love-confused2:before {
  content: "\e9f6";
}
.icon-love-neutral:before {
  content: "\e9f7";
}
.icon-love-neutral2:before {
  content: "\e9f8";
}
.icon-love-hipster:before {
  content: "\e9f9";
}
.icon-love-hipster2:before {
  content: "\e9fa";
}
.icon-love-wondering:before {
  content: "\e9fb";
}
.icon-love-wondering2:before {
  content: "\e9fc";
}
.icon-love-sleepy:before {
  content: "\e9fd";
}
.icon-love-sleepy2:before {
  content: "\e9fe";
}
.icon-love-frustrated:before {
  content: "\e9ff";
}
.icon-love-frustrated2:before {
  content: "\ea00";
}
.icon-love-crying:before {
  content: "\ea01";
}
.icon-love-crying2:before {
  content: "\ea02";
}
.icon-love-point-up:before {
  content: "\ea03";
}
.icon-love-point-right:before {
  content: "\ea04";
}
.icon-love-point-down:before {
  content: "\ea05";
}
.icon-love-point-left:before {
  content: "\ea06";
}
.icon-love-warning:before {
  content: "\ea07";
}
.icon-love-notification:before {
  content: "\ea08";
}
.icon-love-question:before {
  content: "\ea09";
}
.icon-love-plus:before {
  content: "\ea0a";
}
.icon-love-minus:before {
  content: "\ea0b";
}
.icon-love-info:before {
  content: "\ea0c";
}
.icon-love-cancel-circle:before {
  content: "\ea0d";
}
.icon-love-blocked:before {
  content: "\ea0e";
}
.icon-love-cross:before {
  content: "\ea0f";
}
.icon-love-checkmark:before {
  content: "\ea10";
}
.icon-love-checkmark2:before {
  content: "\ea11";
}
.icon-love-spell-check:before {
  content: "\ea12";
}
.icon-love-enter:before {
  content: "\ea13";
}
.icon-love-exit:before {
  content: "\ea14";
}
.icon-love-play2:before {
  content: "\ea15";
}
.icon-love-pause:before {
  content: "\ea16";
}
.icon-love-stop:before {
  content: "\ea17";
}
.icon-love-previous:before {
  content: "\ea18";
}
.icon-love-next:before {
  content: "\ea19";
}
.icon-love-backward:before {
  content: "\ea1a";
}
.icon-love-forward2:before {
  content: "\ea1b";
}
.icon-love-play3:before {
  content: "\ea1c";
}
.icon-love-pause2:before {
  content: "\ea1d";
}
.icon-love-stop2:before {
  content: "\ea1e";
}
.icon-love-backward2:before {
  content: "\ea1f";
}
.icon-love-forward3:before {
  content: "\ea20";
}
.icon-love-first:before {
  content: "\ea21";
}
.icon-love-last:before {
  content: "\ea22";
}
.icon-love-previous2:before {
  content: "\ea23";
}
.icon-love-next2:before {
  content: "\ea24";
}
.icon-love-eject:before {
  content: "\ea25";
}
.icon-love-volume-high:before {
  content: "\ea26";
}
.icon-love-volume-medium:before {
  content: "\ea27";
}
.icon-love-volume-low:before {
  content: "\ea28";
}
.icon-love-volume-mute:before {
  content: "\ea29";
}
.icon-love-volume-mute2:before {
  content: "\ea2a";
}
.icon-love-volume-increase:before {
  content: "\ea2b";
}
.icon-love-volume-decrease:before {
  content: "\ea2c";
}
.icon-love-loop:before {
  content: "\ea2d";
}
.icon-love-loop2:before {
  content: "\ea2e";
}
.icon-love-infinite:before {
  content: "\ea2f";
}
.icon-love-shuffle:before {
  content: "\ea30";
}
.icon-love-arrow-up-left:before {
  content: "\ea31";
}
.icon-love-arrow-up:before {
  content: "\ea32";
}
.icon-love-arrow-up-right:before {
  content: "\ea33";
}
.icon-love-arrow-right:before {
  content: "\ea34";
}
.icon-love-arrow-down-right:before {
  content: "\ea35";
}
.icon-love-arrow-down:before {
  content: "\ea36";
}
.icon-love-arrow-down-left:before {
  content: "\ea37";
}
.icon-love-arrow-left:before {
  content: "\ea38";
}
.icon-love-arrow-up-left2:before {
  content: "\ea39";
}
.icon-love-arrow-up2:before {
  content: "\ea3a";
}
.icon-love-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-love-arrow-right2:before {
  content: "\ea3c";
}
.icon-love-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-love-arrow-down2:before {
  content: "\ea3e";
}
.icon-love-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-love-arrow-left2:before {
  content: "\ea40";
}
.icon-love-circle-up:before {
  content: "\ea41";
}
.icon-love-circle-right:before {
  content: "\ea42";
}
.icon-love-circle-down:before {
  content: "\ea43";
}
.icon-love-circle-left:before {
  content: "\ea44";
}
.icon-love-tab:before {
  content: "\ea45";
}
.icon-love-move-up:before {
  content: "\ea46";
}
.icon-love-move-down:before {
  content: "\ea47";
}
.icon-love-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-love-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-love-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-love-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-love-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-love-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-love-command:before {
  content: "\ea4e";
}
.icon-love-shift:before {
  content: "\ea4f";
}
.icon-love-ctrl:before {
  content: "\ea50";
}
.icon-love-opt:before {
  content: "\ea51";
}
.icon-love-checkbox-checked:before {
  content: "\ea52";
}
.icon-love-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-love-radio-checked:before {
  content: "\ea54";
}
.icon-love-radio-checked2:before {
  content: "\ea55";
}
.icon-love-radio-unchecked:before {
  content: "\ea56";
}
.icon-love-crop:before {
  content: "\ea57";
}
.icon-love-make-group:before {
  content: "\ea58";
}
.icon-love-ungroup:before {
  content: "\ea59";
}
.icon-love-scissors:before {
  content: "\ea5a";
}
.icon-love-filter:before {
  content: "\ea5b";
}
.icon-love-font:before {
  content: "\ea5c";
}
.icon-love-ligature:before {
  content: "\ea5d";
}
.icon-love-ligature2:before {
  content: "\ea5e";
}
.icon-love-text-height:before {
  content: "\ea5f";
}
.icon-love-text-width:before {
  content: "\ea60";
}
.icon-love-font-size:before {
  content: "\ea61";
}
.icon-love-bold:before {
  content: "\ea62";
}
.icon-love-underline:before {
  content: "\ea63";
}
.icon-love-italic:before {
  content: "\ea64";
}
.icon-love-strikethrough:before {
  content: "\ea65";
}
.icon-love-omega:before {
  content: "\ea66";
}
.icon-love-sigma:before {
  content: "\ea67";
}
.icon-love-page-break:before {
  content: "\ea68";
}
.icon-love-superscript:before {
  content: "\ea69";
}
.icon-love-subscript:before {
  content: "\ea6a";
}
.icon-love-superscript2:before {
  content: "\ea6b";
}
.icon-love-subscript2:before {
  content: "\ea6c";
}
.icon-love-text-color:before {
  content: "\ea6d";
}
.icon-love-pagebreak:before {
  content: "\ea6e";
}
.icon-love-clear-formatting:before {
  content: "\ea6f";
}
.icon-love-table:before {
  content: "\ea70";
}
.icon-love-table2:before {
  content: "\ea71";
}
.icon-love-insert-template:before {
  content: "\ea72";
}
.icon-love-pilcrow:before {
  content: "\ea73";
}
.icon-love-ltr:before {
  content: "\ea74";
}
.icon-love-rtl:before {
  content: "\ea75";
}
.icon-love-section:before {
  content: "\ea76";
}
.icon-love-paragraph-left:before {
  content: "\ea77";
}
.icon-love-paragraph-center:before {
  content: "\ea78";
}
.icon-love-paragraph-right:before {
  content: "\ea79";
}
.icon-love-paragraph-justify:before {
  content: "\ea7a";
}
.icon-love-indent-increase:before {
  content: "\ea7b";
}
.icon-love-indent-decrease:before {
  content: "\ea7c";
}
.icon-love-share:before {
  content: "\ea7d";
}
.icon-love-new-tab:before {
  content: "\ea7e";
}
.icon-love-embed:before {
  content: "\ea7f";
}
.icon-love-embed2:before {
  content: "\ea80";
}
.icon-love-terminal:before {
  content: "\ea81";
}
.icon-love-share2:before {
  content: "\ea82";
}
.icon-love-mail:before {
  content: "\ea83";
}
.icon-love-mail2:before {
  content: "\ea84";
}
.icon-love-mail3:before {
  content: "\ea85";
}
.icon-love-mail4:before {
  content: "\ea86";
}
.icon-love-amazon:before {
  content: "\ea87";
}
.icon-love-google:before {
  content: "\ea88";
}
.icon-love-google2:before {
  content: "\ea89";
}
.icon-love-google3:before {
  content: "\ea8a";
}
.icon-love-google-plus:before {
  content: "\ea8b";
}
.icon-love-google-plus2:before {
  content: "\ea8c";
}
.icon-love-google-plus3:before {
  content: "\ea8d";
}
.icon-love-hangouts:before {
  content: "\ea8e";
}
.icon-love-google-drive:before {
  content: "\ea8f";
}
.icon-love-facebook:before {
  content: "\ea90";
}
.icon-love-facebook2:before {
  content: "\ea91";
}
.icon-love-instagram:before {
  content: "\ea92";
}
.icon-love-whatsapp:before {
  content: "\ea93";
}
.icon-love-spotify:before {
  content: "\ea94";
}
.icon-love-telegram:before {
  content: "\ea95";
}
.icon-love-twitter:before {
  content: "\ea96";
}
.icon-love-vine:before {
  content: "\ea97";
}
.icon-love-vk:before {
  content: "\ea98";
}
.icon-love-renren:before {
  content: "\ea99";
}
.icon-love-sina-weibo:before {
  content: "\ea9a";
}
.icon-love-rss:before {
  content: "\ea9b";
}
.icon-love-rss2:before {
  content: "\ea9c";
}
.icon-love-youtube:before {
  content: "\ea9d";
}
.icon-love-youtube2:before {
  content: "\ea9e";
}
.icon-love-twitch:before {
  content: "\ea9f";
}
.icon-love-vimeo:before {
  content: "\eaa0";
}
.icon-love-vimeo2:before {
  content: "\eaa1";
}
.icon-love-lanyrd:before {
  content: "\eaa2";
}
.icon-love-flickr:before {
  content: "\eaa3";
}
.icon-love-flickr2:before {
  content: "\eaa4";
}
.icon-love-flickr3:before {
  content: "\eaa5";
}
.icon-love-flickr4:before {
  content: "\eaa6";
}
.icon-love-dribbble:before {
  content: "\eaa7";
}
.icon-love-behance:before {
  content: "\eaa8";
}
.icon-love-behance2:before {
  content: "\eaa9";
}
.icon-love-deviantart:before {
  content: "\eaaa";
}
.icon-love-500px:before {
  content: "\eaab";
}
.icon-love-steam:before {
  content: "\eaac";
}
.icon-love-steam2:before {
  content: "\eaad";
}
.icon-love-dropbox:before {
  content: "\eaae";
}
.icon-love-onedrive:before {
  content: "\eaaf";
}
.icon-love-github:before {
  content: "\eab0";
}
.icon-love-npm:before {
  content: "\eab1";
}
.icon-love-basecamp:before {
  content: "\eab2";
}
.icon-love-trello:before {
  content: "\eab3";
}
.icon-love-wordpress:before {
  content: "\eab4";
}
.icon-love-joomla:before {
  content: "\eab5";
}
.icon-love-ello:before {
  content: "\eab6";
}
.icon-love-blogger:before {
  content: "\eab7";
}
.icon-love-blogger2:before {
  content: "\eab8";
}
.icon-love-tumblr:before {
  content: "\eab9";
}
.icon-love-tumblr2:before {
  content: "\eaba";
}
.icon-love-yahoo:before {
  content: "\eabb";
}
.icon-love-yahoo2:before {
  content: "\eabc";
}
.icon-love-tux:before {
  content: "\eabd";
}
.icon-love-appleinc:before {
  content: "\eabe";
}
.icon-love-finder:before {
  content: "\eabf";
}
.icon-love-android:before {
  content: "\eac0";
}
.icon-love-windows:before {
  content: "\eac1";
}
.icon-love-windows8:before {
  content: "\eac2";
}
.icon-love-soundcloud:before {
  content: "\eac3";
}
.icon-love-soundcloud2:before {
  content: "\eac4";
}
.icon-love-skype:before {
  content: "\eac5";
}
.icon-love-reddit:before {
  content: "\eac6";
}
.icon-love-hackernews:before {
  content: "\eac7";
}
.icon-love-wikipedia:before {
  content: "\eac8";
}
.icon-love-linkedin:before {
  content: "\eac9";
}
.icon-love-linkedin2:before {
  content: "\eaca";
}
.icon-love-lastfm:before {
  content: "\eacb";
}
.icon-love-lastfm2:before {
  content: "\eacc";
}
.icon-love-delicious:before {
  content: "\eacd";
}
.icon-love-stumbleupon:before {
  content: "\eace";
}
.icon-love-stumbleupon2:before {
  content: "\eacf";
}
.icon-love-stackoverflow:before {
  content: "\ead0";
}
.icon-love-pinterest:before {
  content: "\ead1";
}
.icon-love-pinterest2:before {
  content: "\ead2";
}
.icon-love-xing:before {
  content: "\ead3";
}
.icon-love-xing2:before {
  content: "\ead4";
}
.icon-love-flattr:before {
  content: "\ead5";
}
.icon-love-foursquare:before {
  content: "\ead6";
}
.icon-love-yelp:before {
  content: "\ead7";
}
.icon-love-paypal:before {
  content: "\ead8";
}
.icon-love-chrome:before {
  content: "\ead9";
}
.icon-love-firefox:before {
  content: "\eada";
}
.icon-love-IE:before {
  content: "\eadb";
}
.icon-love-edge:before {
  content: "\eadc";
}
.icon-love-safari:before {
  content: "\eadd";
}
.icon-love-opera:before {
  content: "\eade";
}
.icon-love-file-pdf:before {
  content: "\eadf";
}
.icon-love-file-openoffice:before {
  content: "\eae0";
}
.icon-love-file-word:before {
  content: "\eae1";
}
.icon-love-file-excel:before {
  content: "\eae2";
}
.icon-love-libreoffice:before {
  content: "\eae3";
}
.icon-love-html-five:before {
  content: "\eae4";
}
.icon-love-html-five2:before {
  content: "\eae5";
}
.icon-love-css3:before {
  content: "\eae6";
}
.icon-love-git:before {
  content: "\eae7";
}
.icon-love-codepen:before {
  content: "\eae8";
}
.icon-love-svg:before {
  content: "\eae9";
}
.icon-love-IcoMoon:before {
  content: "\eaea";
}
