@import "_icons";

@font-face {
  font-family: lobster;
  src: url("../public/fonts/Lobster-Regular.ttf");
}

.flex-important {
  display: flex !important;
}

.glass-card {
  position: relative;
  z-index: 10;
  .glass-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: -2;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
  }

  .slick-arrow {
    &::before {
      color: #374151;
    }
  }
}

.circle-1,
.circle-2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle-1 {
  top: -5%;
  right: -6%;
  z-index: -2;
}

.circle-2 {
  bottom: -5%;
  left: -9%;
}

.outer-scratch,
.inner-scratch {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.outer-scratch:after,
.inner-scratch:after {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  padding-left: 100px;
  opacity: 0.08;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png")
    repeat center center;
  -webkit-animation: scratch 0.45s steps(1) infinite;
  animation: scratch 0.45s steps(1) infinite;
}

/* Film Animations */
// Grain
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0, 0);
  }

  10% {
    transform: translate(-1%, -1%);
  }

  20% {
    transform: translate(1%, 1%);
  }

  30% {
    transform: translate(-2%, -2%);
  }

  40% {
    transform: translate(3%, 3%);
  }

  50% {
    transform: translate(-3%, -3%);
  }

  60% {
    transform: translate(4%, 4%);
  }

  70% {
    transform: translate(-4%, -4%);
  }

  80% {
    transform: translate(2%, 2%);
  }

  90% {
    transform: translate(-3%, -3%);
  }
}

// Quick Scratches
@keyframes scratch {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.075;
  }

  10% {
    transform: translateX(-1%);
  }

  20% {
    transform: translateX(1%);
  }

  30% {
    transform: translateX(-2%);
    opacity: 0.09;
  }

  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.05;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.02;
  }

  90% {
    transform: translateX(-2%);
  }
}

// Long Scratches
@keyframes inner-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.08;
  }

  10% {
    transform: translateX(-1%);
  }

  20% {
    transform: translateX(1%);
  }

  30% {
    transform: translateX(-2%);
  }

  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.06;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.03;
  }

  90% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(30%);
  }
}

@layer components {
  .layout-wrap {
    @apply bg-gradient-to-tr from-pink-300 to-cyan-400 min-h-screen w-screen flex items-center;
  }
}
